/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-width: 100%;
}

body {
  font-family: "Big Shoulders Text", cursive;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}

/* -----------MAIN CONTAINER---------*/

.main-container {
  border: solid #4770ff 2em;
  background-color: white;
}
/* ---------NAVBAR---------------- */

.Navbar {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  padding: 30px 80px;
}

.Navbar img {
  width: 12em;
}

#nav__left {
  width: 10em;
}

#nav__right {
  width: 12em;
}

.nav__links ul {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  letter-spacing: 0.1em;
  list-style-type: none;
}

.nav__links ul a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  transition: 0.2s;
}

.nav__links ul a:hover {
  color: rgb(134, 134, 134);
}

/* -------MAIN CONTENT--------- */

#main-content {
  width: 100%;
  height: 65em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 3em;
}

#main-content img {
  width: 38em;
}

#main-content h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}
