/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-width: 100%;
}

body {
  font-family: "Big Shoulders Text", cursive;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}

/* -----------MAIN CONTAINER---------*/

.main-container {
  border: solid #4770ff 2em;
  background-color: white;
}
/* ---------NAVBAR---------------- */

.Navbar {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  padding: 30px 80px;
}

.Navbar img {
  width: 12em;
}

#nav__left {
  width: 11em;
}

#nav__right {
  width: 12em;
}

.nav__links ul {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  letter-spacing: 0.1em;
  list-style-type: none;
}

.nav__links ul button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: "Big Shoulders Text", cursive;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color: rgb(33, 33, 33);
  transition: 0.2s;
  cursor: pointer;
}

.nav__links ul button:hover {
  color: rgb(134, 134, 134);
}

/* -------MAIN CONTENT--------- */

#main-content {
  width: 100%;
  height: 75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 7em;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#ramen__image {
  width: 38em;
}

#main-content h1 {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: rgb(53, 53, 53);
}

/* ---------FOOTER-------*/

#footer__nav {
  width: 27em;
  margin: 15em auto 6em auto;
}

#footer__nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

#footer__nav ul button {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: "Big Shoulders Text", cursive;
  font-size: 1.33em;
  font-weight: 600;
  text-decoration: none;
  color: rgb(33, 33, 33);
  transition: 0.2s;
  cursor: pointer;
}

#footer__nav ul button:hover {
  color: rgb(134, 134, 134);
}

footer h3 {
  color: rgb(73, 73, 73);
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 5em;
}

footer h5 {
  color: rgb(206, 206, 206);
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.8em;
}

#developedBy {
  margin-bottom: 8em;
}

footer h5 a {
  color: rgb(160, 160, 160);
}

footer h5 a:hover {
  color: rgb(180, 180, 180);
}

/* ----------MENU ITEMS----------- */

.menu__container {
  animation: fadein 2s;
}

.menu__title {
  width: 7em;
  text-align: left;
  margin-top: 2em;
}

#small-plates {
  margin-top: -0.5em;
}
.item__container {
  display: flex;
  flex-wrap: wrap;
  width: 30em;
  margin-top: 2.3em;
}

.item__title {
  width: 18em;
  text-align: left;
  font-size: 1.3em;
  font-weight: 800;
}

.item__price {
  width: 4em;
  text-align: right;
  font-size: 1.1em;
  font-weight: 500;
}

.item__description {
  margin-top: 0.5em;
  font-weight: 200;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: left;
}

/* -----------CHEF DESCRIPTION----------- */

.chef-container {
  margin-top: -5em;
  animation: fadein 2s;
}

.chef-container h2 {
  width: 60%;
  margin: 1em auto;
  font-size: 2.4em;
  font-weight: 600;
  text-align: left;
  line-height: 2;
}

.paragraph__container {
  display: flex;
  width: 90%;
  height: 28em;
  margin: 0 auto;
}

.chef__image {
  width: 90%;
  margin: 3.3em auto;
}

#chef__ramen {
  width: 20em;
  margin-top: 6em;
}
.chef__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14em;
  width: 48%;
}

.chef__title {
  font-size: 3em;
  font-weight: 700;
}

.chef__heading h5 {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 1em;
}
.chef__description {
  width: 50%;
  text-align: justify;
  font-size: 1.2em;
  line-height: 2.4;
}

/* ------------RESERVATION-------------- */

.reservations-text {
  width: 23em;
  height: auto;
  font-size: 1.3em;
  line-height: 2.2;
  text-align: justify;
  margin-top: 6em;
}

/* ----------COMMON STYLES------------ */

.hide {
  display: none;
}
